<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classi"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="LissoneModerna"
        android:logo="@android:color/transparent"
        android:theme="@style/AppTheme"
        android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"
    >
        <activity
            android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="LissoneModerna" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:name=".RegistrazioneFragment"
            android:label="Registrazione" >
        </activity>







=======
		<activity android:name=".Web" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>

        <activity android:name=".Cronaca" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Comunicati" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Sport" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Politica" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>

		
    </application>

</manifest>
